<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
            </files>
        </defaultDocument>
        <httpRedirect enabled="false" destination="https://www.probid.com.br" exactDestination="false" httpResponseStatus="Permanent" />
        <rewrite>
            <rewriteMaps>
                <rewriteMap name="RedirectHTTPS" />
            </rewriteMaps>
            <rules>
                <rule name="Http to HTTPS" enabled="false" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="SeeOther" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
